.brand-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.img {
    width: 7rem;
}

.companies-logo {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}