.blog-card3 {
    border: 1px solid black;
    width: 15rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.blog-card3-image {
    height: 9rem;
}

.blog-card3-text {
    margin-left: 1rem;
}

.blog-card3-text2 {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.blog-card3-badge {
    width: fit-content;
    height: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 0.8rem;
    padding: 0.3rem;
    padding-bottom: 1rem;
    position: relative;
    bottom: 38px;
    left: 15px;
}