.footer {
    margin-top: 7rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-content1 {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-link {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.footer-link:hover {
    color: crimson;
}

@media screen and (max-width:768px) {
    .footer {
        margin-bottom: 13rem;
    }
}